<?xml version="1.0" encoding="UTF-8" ?>

<configuration name="net-log-config" status="warn" monitorInterval="0">
    
    <properties>
        <property name="LOG_HOME">log/net</property>
        <property name="FORMAT">%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c.%M(%F:%L) - %m%n</property>
    </properties>

    <appenders>
        <Console name="console" target="system_out">
            <thresholdFilter level="info" onMatch="accept" onMismatch="deny"/>
            <patternLayout pattern="${FORMAT}"/>
        </Console>

        <File name="testFile" fileName="${LOG_HOME}/test/net.log" append="false">
            <PatternLayout pattern="${FORMAT}"/>
        </File>

        <File name="errorFile" fileName="${LOG_HOME}/error.log" append="true">
            <PatternLayout pattern="${FORMAT}"/>
        </File>

        <RollingFile name="rollingFile" fileName="${LOG_HOME}/net.log"
                     filePattern="${LOG_HOME}/%d{yyyy-MM-dd.HH-mm-ss}-%i.log">
            <PatternLayout pattern="${FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>

    </appenders>

    <loggers>

        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFile"/>
            <appender-ref ref="testFile"/>
            <appender-ref ref="errorFile"/>
        </root>
    </loggers>

</configuration>