<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:event="http://www.zfoo.com/schema/event"

       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

    http://www.zfoo.com/schema/event
    http://www.zfoo.com/schema/event-1.0.xsd">


    <event:event id="eventBus" event-bus-package="com.zfoo.river.event"/>

</beans>
