<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:scheduler="http://www.zfoo.com/schema/scheduler"

       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

    http://www.zfoo.com/schema/scheduler
    http://www.zfoo.com/schema/scheduler-1.0.xsd">

    <!--<net:net id="net" protocol-location="protocol.xml" receiver-package="facade" host-address="127.0.0.1" port="9999"/>-->

    <scheduler:scheduler id="schedulerManager" scheduler-package="com.zfoo.river.**.facade"/>

</beans>
