[v-cloak] {
    display: none;
}

.tabs {
    font-size: 14px;
    color: black;
}

.tabs-bar:after {
    content: '';
    /*inline 默认display类型，此元素会被显示为内联元素，元素前后没有换行符。*/
    /*inline-block属性的元素既拥有了block元素可以设置width和height的特性，又保持了inline元素不换行的特性*/
    /*此元素将显示为块级元素，此元素前后会带有换行符。*/
    display: block;
    width: 100%;
    height: 1px;
    background: green;
    margin-top: -1px;
}

.tabs-tab {
    display: inline-block;
    padding: 4px 16px;
    margin-right: 6px;
    background: aliceblue;
    border: 1px solid;
    cursor: pointer;
    position: relative;
}

.tabs-tab-active {
    color: red;
    border-top: 3px solid lightpink;
    border-bottom: 3px solid lightpink;
    transform: translateX(0px);
}


.tabs-content {
    padding: 8px 0;
}